.3columns {
    column-count:         3;
}


.word:hover {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.myhidden {
    opacity: 0.18;
}

.fixed {
    position: fixed;
}

.sidebar-outer {
    margin-top: 150px;
    position: relative;
}

.action:hover {
    cursor: pointer;
}